@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-size: 20px
}

img {
    width: 70px;
}

#imagens {
    margin-top: 35px;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

#imagens img::hover {
    transform: scale(1.3%);
    transition: 300ms ease;
}

#imagens img {
    background-color: #E0BC00;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 1px #000000);
}
#imagens a:hover{
    border-width: 3px; 
    border-style: solid; 
    border-color:  #E0BC00; 
    border-radius: 100%;
}

#texto {
    width: 40vw;
}

#c1 {
    animation: spin 15s linear infinite;
    position: absolute;
    transform: rotate(180deg);
    width: 20rem;
    z-index: 1;
    top: 126px;
    left: 134px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (min-width: 1080px) {
    .main-container {
        width: 100%;
        height: 680px;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffffdd;
        filter: blur(0.1px);
        align-items: center;
        text-shadow: 0px 0px 5px #000;
        position: relative;
        margin-top: 80px;
    }
}

#c2 {
    width: 21rem;
    position: absolute;
    z-index: 0;
    top: 119px;
    left: 127px;

}

#c3 {
    animation: spin 7s reverse infinite;
    width: 18rem;
    transform: rotate(180deg);
    position: absolute;
    z-index: 0;
    top: 145px;
    left: 153px;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


#c4 {
    animation: spin 6s linear infinite;
    position: absolute;
    transform: rotate(180deg);
    width: 16rem;
    z-index: 1;
    top: 160px;
    left: 170px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#logo {
    position: absolute;
    width: 10rem;
    z-index: 1;
    top: 210px;
    left: 245px;
}

#txt {
    bottom: 150px;
    left: 100px;
}


body {
    width: 100%;
    background: url(img/fundo-removebg-preview\ \(1\).png);
    height: 100vh;
    background-color: #090723;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #8B7C2E;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 10px #8B7C2E;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #a0422a;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #a0422a;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: #a0422a;
}



.main-container {
    width: 100%;
    height: 735px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000dd;

    filter: blur(0.1px);
    align-items: center;
    text-shadow: 0px 0px 5px #000;
    position: relative;
    margin-top: 80px;

}

.main-container .image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #f63404;
}

.main-container .image img {
    width: 100%;
}



@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
    position: absolute;
    left: 700px;
    top: 180px;
    text-align: left;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #E0BC00;
    font-size: 38px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 10px #E0BC00;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    font-size: 38px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #E0BC00;
    text-shadow: 0 0 5px #E0BC00;
}


.content p {
    text-align: justify;
    font-size: 1.5em;
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #a0422a;
    border-radius: 50%;
    color: #a0422a;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: #a0422a;
    filter: drop-shadow(0 0 10px #a0422a);
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #a0422a;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content {
    position: absolute;
}

.content button:hover {
    scale: 1.1;
    color: #a0422a;
    border: 2px solid #a0422a;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #a0422a;
}

@media (max-width:884px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}

@media (max-width:440px) {
    .main-container .image {
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }
}
footer {
    width: 100vw;
    height: 8vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: justify;
    background: #090723;
    color: #5a5a5a;
    font-size: 20px;
    box-sizing: border-box;
}
.section {
    scroll-snap-align: start;
    height: 70vh;
  }